<%- include('.include/.header.ejs') %>
    <%- include('.include/.sonavbar.ejs') %>

    <main role="main" class="container my-5 py-5">
        <div class="starter-template">
            <h1>Homepage</h1>
            <p class="lead">This is the Project Manager's landing page.<br>Please Log In or Sign Up.</p>
        </div>
    </main>
    
<%- include('.include/.footer.ejs') %>
