<%- include('.include/.header.ejs') %>
    <%- include('.include/.sonavbar.ejs') %>

    <main role="main" class="container my-5 py-5">
        <div class="starter-template">
            <h1>Unauthorized</h1>
            <h3>Please Log In</h3>
        </div>
    </main>

<%- include('.include/.footer.ejs') %>
