<%- include('../.include/.header.ejs') %>
    <%- include('../.include/.sinavbar.ejs') %>

    <main role="main" class="container my-5 py-5">
        <h1 class="h3 mb-5 font-weight-normal display-4 text-center">Delete project</h1>
        <form method="POST" class="">
            <button type="submit" class="btn btn-lg btn-danger btn-block">Delete</button>
        </form>
    </main>

<%- include('../.include/.footer.ejs') %>
