<%- include('../.include/.header.ejs') %>
    <%- include('../.include/.sinavbar.ejs') %>

    <main role="main" class="container my-5 py-5">
        <h1 class="h3 mb-5 font-weight-normal display-4 text-center">Delete user</h1>
        <form method="POST" class="">
            <div class="form-group row mt-5">
                <button type="submit" class="btn btn-lg btn-danger btn-block">Delete</button>
            </div>
        </form>
        <!-- <form method="POST" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Delete Username</h1>
            <div class="mb-3"></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Delete</button>
        </form> -->
    </main>
    
<%- include('../.include/.footer.ejs') %>